@import "fontawesome-all.min.css";
@import 'slick.css';
@import 'slick-theme.css';
@import 'main_novosel.css';
@import 'style.css';
@font-face {
  font-family: 'LatoWebBold';
  src: url('fonts/Lato-Bold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */ url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'HelveticaNeueCyr B';
  src: url('fonts/HelveticaNeueCyr-Bold.eot');
  src: local('fonts/HelveticaNeueCyr-Bold'), url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LatoWebBold';
  src: url('fonts/Lato-Bold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */ url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
.margin-top_25 {
  margin-top: 25px;
}
main {
  margin-bottom: -70px;
  position: relative;
  background-image: url(../images/clipart/bgr-subpage.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
main button {
  border-radius: 5px;
  background-color: #e86c20;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  color: white;
}
main input[placeholder] {
  padding-left: 20px;
}
main .block_form-calc a {
  text-decoration: none;
}
main .checkbox,
main .radio {
  display: none;
}
main .checkbox-custom,
main .radio-custom {
  width: 15px;
  height: 15px;
  border: 1px solid #ababad;
  border-radius: 3px;
  position: relative;
}
main .checkbox-custom,
main .radio-custom,
main .label {
  display: inline-block;
  vertical-align: middle;
  color: #ababad;
  font-size: 16px;
}
main .checkbox:checked + .checkbox-custom::before,
main .radio:checked + .radio-custom::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 3px;
  bottom: 2px;
  left: 3px;
  background: #81ba27;
}
main .radio-custom,
main .radio:checked + .radio-custom::before {
  border-radius: 5px;
}
main .button_arrow {
  background-image: url('img/arrow-down.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
main .block_form-calc .container-detail_type p {
  font-family: 'HelveticaNeueCyr B';
  font-size: 12px;
}
main .container h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'LatoWebBold';
}
main .container .summary {
  margin-top: 20px;
  margin-bottom: 55px;
  padding: 0;
}
main .container .summary p {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr B';
}
main .container .summary p a {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-transform: uppercase;
  color: black;
}
main .container .summary p a:link {
  color: none;
}
main .container .summary p a:visited {
  color: none;
}
main .container-price input {
  border-radius: 5px;
  background-color: transparent;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  width: 100%;
  height: 40px;
  color: black;
}
main .container-price input:focus {
  font-weight: 600;
  border-width: 2px;
}
main .container-price .container-price_range {
  margin: 0;
  margin-bottom: 20px;
}
main .container-price .container-price_range input {
  width: 50%;
  border-radius: 5px 0 0 5px;
}
main .container-price .container-price_range :nth-child(2) {
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
  border-left: none;
}
main .container-price .container-price_range input:focus {
  font-weight: 600;
  border-width: 2px;
}
main .container-search {
  min-height: 180px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: 'HelveticaNeueCyr B';
}
main .container-search input[placeholder] {
  padding-left: 20px;
}
main .container-search .container-room {
  font-size: 14px;
}
main .container-search .container-room .active {
  background-color: #81ba27;
  color: #fff;
}
main .container-search .container-room .btn {
  width: 81%;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  font-weight: 600;
}
main .container-search .container-room ul {
  margin-left: 0px;
  display: flex;
  margin-bottom: 20px;
}
main .container-search .container-room li {
  width: 40px;
  height: 40px;
  font-weight: 600;
  border-radius: 5px;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
main .container-search .container-city input {
  border-radius: 5px;
  background-color: transparent;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  width: 100%;
  height: 40px;
  margin-top: 24px;
}
main .container-search .container-city input:focus {
  font-weight: 600;
  border-width: 2px;
}
main .container-catalog {
  margin-top: 10px;
  min-height: 90px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: 'HelveticaNeueCyr B';
}
main .container-catalog input {
  border-radius: 5px;
  background-color: transparent;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  width: 100%;
  height: 40px;
}
main .container-catalog input:focus {
  font-weight: 600;
  border-width: 2px;
}
main .container-detail {
  margin-top: 10px;
  min-height: 560px;
  background-color: #f6f6f6;
  font-family: 'HelveticaNeueCyr B';
  color: #ababad;
}
main .container-detail .container-detail_type {
  margin-top: 35px;
}
main .container-detail .container-detail_type p {
  font-size: 14px;
}
main .container-detail .container-detail_type .container-detail_close {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px #e86c20 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e86c20;
  margin-top: -38px;
  margin-right: 15px;
}
main .container-detail .container-detail_type .container-floor {
  width: 228px;
}
main .container-detail .container-detail_type .container-floor p {
  margin-top: -30px;
}
main .container-detail .container-detail_type .container-radio {
  margin-top: 7px;
}
main .container-detail .container-detail_type_bottom {
  margin-top: 15px;
}
main .container-detail .container-detail_type_bottom p {
  font-size: 14px;
}
main .container h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}
main .block-map_image {
  background-image: url('img/map.png');
  min-height: 850px;
}
main .block_result-absolute {
  position: absolute;
  top: 140px;
  left: 135px;
}
main .container-city_map {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}
main .container-city_map p {
  align-self: center;
  margin-right: 20px;
  margin-bottom: 0px;
}
main .container-city_map .last-child {
  margin-left: 40px;
}
main .container-city_map input {
  border-radius: 5px;
  background-color: transparent;
  border-color: #81ba27;
  border: 1px #81ba27 solid;
  width: 100%;
  height: 40px;
}
main .container-city_map input:focus {
  font-weight: 600;
  border-width: 2px;
}
